{% extends 'base.html.twig' %}

{% block title %} - Listagem de Endereços{% endblock %}

{% block body %}
    <h2 class="text-center">Listagem de Endereços</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for endereco in enderecos %}
            <tr>
                <td>{{ endereco.id }}</td>
                <td>{{ endereco.logradouro }}</td>
                <td>{{ endereco.numero }}</td>
                <td>{{ endereco.complemento }}</td>
                <td>
                    <a href="{{ path('endereco_show', {'id': endereco.id}) }}" class="btn btn-warning">Visualizar</a>
                    <a href="{{ path('endereco_edit', {'id': endereco.id}) }}" class="btn btn-info">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5" class="text-center">-- Nenhum endereço cadastrado --</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('endereco_new') }}" class="btn btn-success">Cadastrar novo Endereço</a>
{% endblock %}