{% extends 'base.html.twig' %}

{% block title %} - Visualizar Endereço{% endblock %}

{% block body %}
    <h2 class="text-center">Visualizar Endereço</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ endereco.id }}</td>
            </tr>
            <tr>
                <th>Logradouro</th>
                <td>{{ endereco.logradouro }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ endereco.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ endereco.complemento }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('endereco_index') }}" class="btn btn-warning">Voltar para a Listagem</a>

    <a href="{{ path('endereco_edit', {'id': endereco.id}) }}" class="btn btn-info">Editar este Endereço</a>

    {{ include('endereco/_delete_form.html.twig') }}
{% endblock %}