{% extends 'base.html.twig' %}

{% block title %} - Listagem de Estados{% endblock %}

{% block body %}
    <h2 class="text-center">Listagem de Estados</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sigla</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for estado in estados %}
            <tr>
                <td>{{ estado.id }}</td>
                <td>{{ estado.nome }}</td>
                <td>{{ estado.sigla }}</td>
                <td>
                    <a href="{{ path('estado_show', {'id': estado.id}) }}" class="btn btn-warning">Visualizar</a>
                    <a href="{{ path('estado_edit', {'id': estado.id}) }}" class="btn btn-info">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">-- Nenhum estado cadastrado --</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('estado_new') }}" class="btn btn-success">Cadastrar novo Estado</a>
{% endblock %}