{% extends 'base.html.twig' %}

{% block title %} - Visualizar Estado{% endblock %}

{% block body %}
    <h2 class="text-center">Visualizar Estado</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estado.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ estado.nome }}</td>
            </tr>
            <tr>
                <th>Sigla</th>
                <td>{{ estado.sigla }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('estado_index') }}" class="btn btn-warning">Voltar para a Listagem</a>

    <a href="{{ path('estado_edit', {'id': estado.id}) }}" class="btn btn-info">Editar este Estado</a>

    {{ include('estado/_delete_form.html.twig') }}
{% endblock %}